.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid grey;
  width: 10%;
  height: 30px;
}
.top-layout {
  display: flex;
  justify-content: space-around;
}

.current-choice {
  border: 3px dotted black;
  padding-top: 50px;
}
.tiki {
  width: 90px;
  height: 50px;
  margin: 10px auto;
  border-radius: 10px;
  padding: 30px;
}

.tikis {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
